<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.power.mapper.FoodTableMapper" >
  <resultMap id="BaseResultMap" type="com.power.pojo.FoodTable" >
    <id column="food_id" property="foodId" jdbcType="INTEGER" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_cost" property="foodCost" jdbcType="DOUBLE" />
    <result column="food_file" property="foodFile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    food_id, food_name, food_cost, food_file
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.power.pojo.FoodTableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from food_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food_table
    where food_id = #{foodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from food_table
    where food_id = #{foodId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.power.pojo.FoodTableExample" >
    delete from food_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.power.pojo.FoodTable" >
    insert into food_table (food_id, food_name, food_cost, 
      food_file)
    values (#{foodId,jdbcType=INTEGER}, #{foodName,jdbcType=VARCHAR}, #{foodCost,jdbcType=DOUBLE}, 
      #{foodFile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.power.pojo.FoodTable" >
    insert into food_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodId != null" >
        food_id,
      </if>
      <if test="foodName != null" >
        food_name,
      </if>
      <if test="foodCost != null" >
        food_cost,
      </if>
      <if test="foodFile != null" >
        food_file,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodId != null" >
        #{foodId,jdbcType=INTEGER},
      </if>
      <if test="foodName != null" >
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodCost != null" >
        #{foodCost,jdbcType=DOUBLE},
      </if>
      <if test="foodFile != null" >
        #{foodFile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.power.pojo.FoodTableExample" resultType="java.lang.Integer" >
    select count(*) from food_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update food_table
    <set >
      <if test="record.foodId != null" >
        food_id = #{record.foodId,jdbcType=INTEGER},
      </if>
      <if test="record.foodName != null" >
        food_name = #{record.foodName,jdbcType=VARCHAR},
      </if>
      <if test="record.foodCost != null" >
        food_cost = #{record.foodCost,jdbcType=DOUBLE},
      </if>
      <if test="record.foodFile != null" >
        food_file = #{record.foodFile,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update food_table
    set food_id = #{record.foodId,jdbcType=INTEGER},
      food_name = #{record.foodName,jdbcType=VARCHAR},
      food_cost = #{record.foodCost,jdbcType=DOUBLE},
      food_file = #{record.foodFile,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.power.pojo.FoodTable" >
    update food_table
    <set >
      <if test="foodName != null" >
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodCost != null" >
        food_cost = #{foodCost,jdbcType=DOUBLE},
      </if>
      <if test="foodFile != null" >
        food_file = #{foodFile,jdbcType=VARCHAR},
      </if>
    </set>
    where food_id = #{foodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.power.pojo.FoodTable" >
    update food_table
    set food_name = #{foodName,jdbcType=VARCHAR},
      food_cost = #{foodCost,jdbcType=DOUBLE},
      food_file = #{foodFile,jdbcType=VARCHAR}
    where food_id = #{foodId,jdbcType=INTEGER}
  </update>
</mapper>