<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
  <title>Examples &rsaquo; Register &mdash; Stisla</title>

  <link rel="stylesheet" href="dist/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/modules/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

  <link rel="stylesheet" href="dist/css/demo.css">
  <link rel="stylesheet" href="dist/css/style.css">
</head>

<body>
<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
          <div class="login-brand">

            缴费
          </div>
          <div class="card card-primary">
            <div class="card-header"><h4>消费单</h4></div>
            <div class="card-body">
              <form method="POST" action="/updatepay">
                <input type="hidden" name="energyId" th:value="${list.getEnergyId()}" >
                <input type="hidden" name="userName" th:value="${list.getEnergyUsername()}">
                <div class="form-group">
                  <label >用户名</label>
                  <input  type="text" class="form-control" name="energyUsername" th:value="${list.getEnergyUsername()}" readonly="readonly">
                  <div class="invalid-feedback">
                  </div>
                </div>
                <div class="form-group">
                  <label>应付</label>
                  <input  type="text" class="form-control" name="paymoney" th:value="${list.getEnergyPrice()}" readonly="readonly">
                  <div class="invalid-feedback">
                  </div>
                    <label>实付</label>
                    <input  type="text" class="form-control" name="paymoney" th:value="${session.paymoney}" readonly="readonly">
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">
                    提交
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="simple-footer">
            Copyright &copy; Stisla 2018
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="dist/modules/jquery.min.js"></script>
<script src="dist/modules/popper.js"></script>
<script src="dist/modules/tooltip.js"></script>
<script src="dist/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="dist/modules/moment.min.js"></script>
<script src="dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="dist/js/sa-functions.js"></script>

<script src="dist/js/scripts.js"></script>
<script src="dist/js/custom.js"></script>
<script src="dist/js/demo.js"></script>
</body>
</html>