<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
  <title>Examples &rsaquo; Register &mdash; Stisla</title>

  <link rel="stylesheet" href="dist/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/modules/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

  <link rel="stylesheet" href="dist/css/demo.css">
  <link rel="stylesheet" href="dist/css/style.css">
</head>

<body>
<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
          <div class="login-brand">
            活动设置
          </div>

          <div class="card card-primary">
            <div class="card-header"><h4>会员卡设置</h4></div>

            <div class="card-body">
              <form method="POST" action="/updateaction" name="myForm" onsubmit="return validateForm();">

                <div class="form-group">
                  <label>黄金卡</label>
                  <input  type="text" class="form-control" name="viptype1Price"  th:value="${vip.getViptype1Price()}">
                  <label>折扣</label>
                  <input  type="text" class="form-control" name="discount1"  th:value="${vip.getDiscount1()}">
                  <div class="invalid-feedback">
                  </div>
                </div>
                <div class="form-group">
                  <label>铂金卡</label>
                  <input  type="text" class="form-control" name="viptype2Price" th:value="${vip.getViptype2Price()}">
                  <label>折扣</label>
                  <input  type="text" class="form-control" name="discount2"  th:value="${vip.getDiscount2()}">
                  <div class="invalid-feedback">
                  </div>
                </div>
                <div class="form-group">
                  <label>钻石卡</label>
                  <input  type="text" class="form-control" name="viptype3Price" th:value="${vip.getViptype3Price()}">
                  <label>折扣</label>
                  <input  type="text" class="form-control" name="discount3"  th:value="${vip.getDiscount3()}">
                  <div class="invalid-feedback">
                  </div>
                </div>
                <div class="form-group">
                  <label>黑金尊享</label>
                  <input  type="text" class="form-control" name="viptype4Price" th:value="${vip.getViptype4Price()}">
                  <label>折扣</label>
                  <input  type="text" class="form-control" name="discount4"  th:value="${vip.getDiscount4()}">
                  <div class="invalid-feedback">
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">
                    发布
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="simple-footer">
            Copyright &copy; Stisla 2018
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  function validateForm(){
    var viptype1Price=document.forms["myForm"]["viptype1Price"].value;
    var viptype2Price=document.forms["myForm"]["viptype2Price"].value;
    var viptype3Price=document.forms["myForm"]["viptype3Price"].value;
    var viptype4Price=document.forms["myForm"]["viptype4Price"].value;
    var discount1=document.forms["myForm"]["discount1"].value;
    var discount2=document.forms["myForm"]["discount2"].value;
    var discount3=document.forms["myForm"]["discount3"].value;
    var discount4=document.forms["myForm"]["discount4"].value;
    var reg1=/^([1-9]\d*|[0]{1,1})$/;
    var reg=/^[0-9]|10$/;
    if (viptype1Price==null || viptype1Price==""||viptype2Price==null || viptype2Price==""||viptype3Price==null || viptype3Price==""||viptype4Price==null || viptype4Price=="")
    {
      alert("会员卡金额都不能为空");
      return false;
    }
    if (discount1==null || discount1==""||discount2==null || discount2==""||discount3==null || discount3==""||discount4==null || discount4=="")
    {
      alert("折扣不能为空");
      return false;
    }
    if (!reg.test(discount1)||!reg.test(discount2)||!reg.test(discount3)||!reg.test(discount4)){
      alert("折扣只能是0-10的整数");
      return  false;
    }
    if (!reg1.test(viptype1Price)||!reg1.test(viptype2Price)||!reg1.test(viptype3Price)||!reg1.test(viptype4Price)){
      alert("会员卡金额不能为小数");
      return  false;
    }
    return  true;
  }
</script>
<script src="dist/modules/jquery.min.js"></script>
<script src="dist/modules/popper.js"></script>
<script src="dist/modules/tooltip.js"></script>
<script src="dist/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="dist/modules/moment.min.js"></script>
<script src="dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="dist/js/sa-functions.js"></script>

<script src="dist/js/scripts.js"></script>
<script src="dist/js/custom.js"></script>
<script src="dist/js/demo.js"></script>
</body>
</html>